 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-johannes-plenio-1103970.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 264px 66px 0;
}

.u-section-1 .u-line-1 {
  width: 477px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 826px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 238px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 42px;
}

.u-section-2 .u-text-1 {
  margin: 84px 18px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 54px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/IMG_4511.jpg");
  background-position: 49.13% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 62px;
    margin-right: 146px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 414px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 63px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 701px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 601px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 478px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 378px;
  }
} .u-section-3 {
  background-image: url("images/pexels-jaymantri-4827.jpg");
  background-position: 50% 88.61%;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 46px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  background-image: none;
  --animation-custom_in-scale: 1;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  background-image: none;
  --animation-custom_in-scale: 1;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  background-image: none;
  --animation-custom_in-scale: 1;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 71px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 405px;
    grid-gap: 10px 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 931px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/1584360281phpFGx1iJ.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 572px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 38px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 606px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 37px;
    padding-right: 37px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 72px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-image-1 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-image-1 {
    min-height: 696px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-image-1 {
    min-height: 438px;
  }
}.u-block-663f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-663f-3 {
  position: absolute;
  left: 0;
  width: 57px;
  height: 57px;
}

.u-block-663f-4 {
  position: absolute;
  right: 0;
  width: 57px;
  height: 57px;
}

@media (max-width: 1199px) {
  .u-block-663f-3 {
    width: 45px;
    height: 45px;
  }

  .u-block-663f-4 {
    width: 45px;
    height: 45px;
  }
}

 .u-section-5-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/IMG_4509.jpg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 626px;
}

.u-section-5-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 120px auto 0;
}

.u-section-5-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 40px auto 0;
}

.u-section-5-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 40px 80px 0;
}

.u-section-5-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 93px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5-1 .u-text-1 {
    width: auto;
    margin-top: 111px;
  }

  .u-section-5-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-5-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-1 .u-btn-1 {
    border-style: solid;
    font-size: 0.875rem;
    margin-top: 66px;
    padding: 8px 26px 9px 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-5-1 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/20220401035819_Team_Kratos_Racing_2022_Formula_Bharat.jpg");
  background-position: 50% 50%;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 609px;
}

.u-section-5-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 128px auto 0;
}

.u-section-5-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-5-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 46px 80px 0;
}

.u-section-5-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 80px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-5-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-5-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/DSC1923-1024x576.jpg");
  background-position: 50% 50%;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 609px;
}

.u-section-5-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 128px auto 0;
}

.u-section-5-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-5-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 30px 80px 0;
}

.u-section-5-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 63px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5-3 .u-text-1 {
    width: auto;
    margin-top: 110px;
  }

  .u-section-5-3 .u-text-2 {
    width: auto;
  }

  .u-section-5-3 .u-text-3 {
    width: auto;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-5-3 .u-btn-1 {
    border-style: solid;
    font-size: 0.875rem;
    margin-top: 58px;
    margin-bottom: 55px;
    padding: 10px 29px 11px 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-5-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-5-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-5-3 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-5-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/italy1.jpg");
  background-position: 50% 50%;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 128px auto 0;
}

.u-section-5-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-5-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 46px 80px 0;
}

.u-section-5-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 80px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5-4 .u-text-1 {
    width: auto;
    margin-top: 112px;
  }

  .u-section-5-4 .u-text-2 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-5-4 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-4 .u-btn-1 {
    margin-top: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-5-4 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-5-4 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 581px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 912px;
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-6 .u-countdown-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 77px auto 0;
}

.u-section-6 .u-countdown-item-1 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-countdown-separator-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-item-2 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-countdown-separator-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-item-3 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-countdown-separator-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-item-4 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-countdown-separator-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-item-5 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-countdown-separator-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-item-6 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-6 .u-countdown-counter-6 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-6 .u-countdown-label-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 77px auto 60px;
  padding: 13px 53px 14px 52px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 88px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 93px;
    padding-right: 43px;
    padding-bottom: 15px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-countdown-1 {
    height: 275px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}